@charset "utf-8";
/* CSS Document */

h1
	{
	background: rgba(23,215,51,1.00);
	height: 150px;
	}
h2
	{
	background: rgba(172,33,196,1.00);
	height: 50px;
	}
h3
	{
	background: rgba(26,168,37,1.00);
	height: 30px;
	display:inline;
	}
p
	{
	display:inline;	
	}
h4
	{
	background: rgba(204,28,31,1.00);
	opacity:0.5;	
	}