@charset "utf-8";
/* CSS Document */

article>:last-child
	{
	text-decoration: overline;
	}
h2:before
	{
	color:green;
	content:": Remmber this";
	}
h3::after
	{
	color:purple;
	content:": Too late";
	}
p::first-line
	{
	color:brown;
	}
h3::first-letter
	{
	color:blue;
	content:": Remmber this";
	}
::-moz-selection {
    color: red;
    background: yellow;
}